<div class="row">
    <div class="col-lg-3 list">
        <h4>
            Timings list
        </h4>
        <div class="inner">
            <div ng-repeat="timing in timings">
                <div class="row list-header">
                    {{timing.file_name}}
                </div>
                <a ng-repeat="timing_data in timing.data track by timing_data.file_lineno" ui-sref="timings.detail({id: timing_data._id.$oid})" ui-route="/timings/details/{{timing_data._id.$oid}}" ng-class="{active:$uiRoute}">
                    <div class="row list-entry" ng-class-odd="'list-entry-odd'">
                        <div class="offset col-lg-2">{{timing_data.file_lineno}}</div>
                        <div class="text col-lg-10"><span>{{timing_data.classname}}:{{timing_data.file_function}}</span></div>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <div class="col-lg-9" ui-view="details">
        ok
    </div>
</div>
